*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: #fff;
}

body{
    /* border: 2px solid #c6c910; */
    background: #010b1c;
    color: #fff;
    min-height: 100vh;
    min-width: 100vw;
    padding: 10px;
}

.container{
    display: flex;
    align-items: center;
    max-width: 30em;
    margin: 10em auto 1em;
    border-radius: 30px;
    border: 2px solid #fff;
    flex-direction: column;
    background-color: #0f0f0f;
    padding: 3em 2em;
}

.title{
    display: flex;
    /* border: 2px solid #c91010; */
    flex-wrap: wrap;
    flex-direction: column;
}


.input-section{
    display: flex;
    align-items: center;
    /* border: 2px solid #3210c9; */
    background: #252526;
    border-radius: 20px;
    height: 2.5em;
    padding: 25px;
    box-sizing: border-box;
    margin: 2em;
}

#input-box{
    display: flex;
    background: #252526;
    border: none;
    outline: none;
    background:transparent;
    /* border: 2px solid #c91010; */
    height: 2em;

}


#add-button{
    display:flex;
    /* border: 1px solid #fff; */
    border-radius: 30px;
    height: 2em;
    width: 4em;
    background: #1b79c8;
    align-items: center;
    padding-left: 1em;
    margin-left: auto;
    margin-right: auto;
    border: none;
    transition:0.3s;
}

#add-button:hover{
    box-shadow: 0 0 25px #2fd8eb, 0 0 25px #2fd8eb, 0 0 10px #2fd8eb;
}

.task-list{
    
    list-style: none;
    width: 20em;
}

.task-list li{
    padding: 1em;
    display:flex;
}

.task-list li::before{
    content: '';
    background-color: #fff;
    border-radius: 50%;
    height: 1.25em;
    width: 1.25em;
    margin-right: 1em;
}

.task-list li.done{
    color: #6b6b6b;
    text-decoration: line-through;
}