*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: #fff;
}

body{
    /* border: 2px solid #c6c910; */
    background: #010b1c;
    color: #fff;
    min-height: 100vh;
    min-width: 100vw;
    padding: 10px;
    background-image: linear-gradient(to bottom right,#010b1c, #004b2c);
}

.container{
    display: flex;
    align-items: center;
    max-width: 30em;
    margin: 10em auto 1em;
    border-radius: 30px;
    /* border: 2px solid #fff; */
    flex-direction: column;
    background-color: #0f0f0f;
    padding: 3em 2em;
    background-image: linear-gradient(to bottom right, #008a50, #063381);
}

.title{
    display: flex;
    /* border: 2px solid #c91010; */
    flex-wrap: wrap;
    flex-direction: column;
}

.remaining-tasks{
    display: flex;
    margin-top: 2em;
    gap: 1em
    
}

.input-section{
    display: flex;
    align-items: center;
    border: none;
    /* border: 2px solid #3210c9; */
    background: #252526;
    border-radius: 30px;
    height: 2.5em;
    /* padding: 25px; */
    padding-left: 1.5em;
    padding-right: 0;
    margin-right: 0;
    box-sizing: border-box;
    margin: 2em;
    width: 20em;
    height: 3.5em;
    justify-content: space-between;
}

#input-box{
    display: flex;
    background: #252526;
    border: none;
    outline: none;
    background:transparent;
    /* border: 2px solid #c91010; */
    height: 2em;
    font-size: 16px;
}


#add-button{
    display:flex;
    /* border: 1px solid #fff; */
    border-radius: 30px;
    height: 3.5em;
    width: 5em;
    background: #1b79c8;
    align-items: center;
    border: none;
    transition:0.1s;
    font-size: 16px;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

#add-button:hover{
    box-shadow: 0 0 25px #2fd8eb, 0 0 10px #2fd8eb;
}

.task-list{
    position: relative;
    list-style: none;
    width: 20em;
    cursor: pointer;
}

.task-list li{
    padding: 1em;
    display:flex;
}

.task-list li::before{
    content: '';
    background-color: #fff;
    border-radius: 50%;
    height: 1.25em;
    min-width: 1.25em;
    margin-right: 1em;
    transition: 0.3s;
    
}

.task-list li.done{
    color: #6b6b6b;
    text-decoration: line-through;
}

.task-list li.done::before{
    background-color: rgb(23, 245, 34);
}

.task-list li:hover::before{
    box-shadow: 0 0 25px rgb(23, 245, 34), 0 0 10px rgb(23, 245, 34);
}

.close-button{
    position: absolute;
    right: 0;
    color: #fff;
}
